a {
  color: inherit;

  :visited {
    color: inherit;
  }
}

h4 {
  color: rgb(149, 155, 166)
}

.bg-dark {
  background-color: rgb(33, 75, 65) !important;
}

@media print {
  @page {
    size: auto;
    margin: 0mm; // Minimum page margins
  }

  body {
    -webkit-print-color-adjust: exact; // Forcing background graphics to be printed in WebKit browsers
    print-color-adjust: exact; // Forcing background graphics to be printed in other browsers
  }

  header, footer {
    display: none;
  }

  :root {
    font-size: 13px;
  }

  .skill {
    margin-bottom: 0.75rem !important;
  }

  .row {
    min-height: 100vh;

    > div {
      padding: 9mm !important;
    }

    &:not(:last-child) {
      page-break-after: always
    }
  }

  .container {
    max-width: 100%;
  }
}