@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "./variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";

a { 
    color: inherit;

    :visited {
        color:inherit;
    }
}

h4 {
    color: rgb(149,155,166)
}

.bg-dark {
    background-color: rgb(33, 75, 65) !important;
}

@media print {
    :root {
        font-size: 12px;
    }

    .row:not(:last-child) {
        page-break-after: always
    }

    .container {
        max-width: 100%;
    }

    .bg-dark {
        background-color: $light !important;
    }

    .text-light {
        color: $dark !important;
    }

    .progress {
        position: relative;
        background-color: transparent;
        border: 1px solid $dark;
        height: 0.75rem;
        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            border-bottom: 0.75rem solid $progress-bar-bg;
        }
        &-bar {
            background-color: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            border-bottom: 0.75rem solid $progress-bg;
        }
    }
  }
