@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "./variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";

li > p {
  margin-bottom: 0;
}

a {
  color: inherit;

  :visited {
    color: inherit;
  }
}

h4 {
  color: rgb(149, 155, 166)
}

.bg-dark {
  background-color: rgb(33, 75, 65) !important;
}

@media print {
  @page {
    size: auto;
    margin: 0mm; // Minimum page margins
  }

  body {
    -webkit-print-color-adjust: exact; // Forcing background graphics to be printed in WebKit browsers
    print-color-adjust: exact; // Forcing background graphics to be printed in other browsers
  }

  header, footer {
    display: none;
  }
  
  :root {
    font-size: 13px;
  }

  .skill {
    margin-bottom: 0.75rem !important;
  }

  .row {
    min-height: 100vh;
    
    &:not(:last-child) {
      page-break-after: always
    }
  }

  .container {
    max-width: 100%;
  }
}